{% extends 'pricing.html.twig' %}

{% block title %}Facturer index{% endblock %}

{% block body %}




<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">




<div id="divs" class="app-search">
    <div class="row">
    <input style="padding-right: 20px" class="form-control" type="text" id="search" placeholder="Rechercher par Stauts...🔎">

    </div>
</div>













    <h1>Facturer index</h1>

    <table  id="t" class="table">
        <thead>
            <tr>
                <th>Id_facture</th>
                <th>DateFacture</th>
                <th>Statut</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
            {% for facturer in facturers %}
            <tr>
                <td>{{ facturer.idFacture }}</td>
                <td>{{ facturer.dateFacture ? facturer.dateFacture|date('Y-m-d') : '' }}</td>
                <td>{{ facturer.statut }}</td>
                <td>{{ facturer.notes }}</td>
                <td>
                    <a href="{{ path('app_facturer_show', {'id_facture': facturer.id_facture}) }}">show</a>
                    <a href="{{ path('app_facturer_edit', {'id_facture': facturer.id_facture}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

        <tbody id="search">

        </tbody>
    </table>

    <a href="{{ path('app_facturer_new') }}">Create new</a>








































    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
    
            
            $("#divs").keyup(function(e){
                var value = $("#search").val();
                if(value.length >= 1 || value.length == 0  )
                {
    
                    //    alert(value);
                    
                    $.ajax({
                        url : "{{ path('app_facturer_search_user') }}",
                       
                        type : 'GET',
                        data: {
                            'searchValue' : value
                        },
                        /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                        success : function(retour){
                            if(retour){
                                $('#t tbody#search').empty();
                                $.each(JSON.parse(retour), function(i, obj) {
                                    $('#t tbody#all').hide();
                                    $('#t tbody#search').append('<tr><td>    '+obj.id_facture+'  </td> <td>'+obj.dateFacture.substring(0,10)+' </td>      <td>'+obj.statut+' </td>              <td>'+obj.notes+' </td>         <td> <a href="/modifier_hotel/'+obj.id+'"><i class="fa fa-pencil" style="color:#ff5b5b;font-size:20px"></i> </a> </td> <td> <a href="/supprimer_hotel/'+obj.id+'"><i class="fa fa-trash" style="color:#00aff0;font-size:20px"></i></a> </td> <td> <a href="/detail_hotel/'+obj.id+'"><i class="fa fa-list" style="color:#00aff0;font-size:20px"></i></a> </td>  </tr>');
                                });
                            }
                            else
                            {
    
                                $('#t tbody#all').show();
                                $('#t tbody#search').empty();
                                $('#t tbody#search').fadeIn('fast');
    
                            }
                        },
                    });
                    return false;
                }
            });
           
    
    
          
            $("#idup").click(function(e){
                var value = $("#search").val();
                var value3 ="ASC";
    
                //    alert(value);
                $.ajax({
                    url : "{{ path('app_facturer_search_user') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td>    '+obj.id_facture+'  </td> <td>'+obj.dateFacture.substring(0,10)+' </td>      <td>'+obj.statut+' </td>              <td>'+obj.notes+' </td>         <td> <a href="/modifier_hotel/'+obj.id+'"><i class="fa fa-pencil" style="color:#ff5b5b;font-size:20px"></i> </a> </td> <td> <a href="/supprimer_hotel/'+obj.id+'"><i class="fa fa-trash" style="color:#00aff0;font-size:20px"></i></a> </td> <td> <a href="/detail_hotel/'+obj.id+'"><i class="fa fa-list" style="color:#00aff0;font-size:20px"></i></a> </td>  </tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
    
            });
          
    
      
            $("#iddown").click(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                var value3 ="DESC";
    
                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('app_facturer_search_user') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td>    '+obj.id_facture+'  </td> <td>'+obj.dateFacture.substring(0,10)+' </td>      <td>'+obj.statut+' </td>              <td>'+obj.notes+' </td>         <td> <a href="/modifier_hotel/'+obj.id+'"><i class="fa fa-pencil" style="color:#ff5b5b;font-size:20px"></i> </a> </td> <td> <a href="/supprimer_hotel/'+obj.id+'"><i class="fa fa-trash" style="color:#00aff0;font-size:20px"></i></a> </td> <td> <a href="/detail_hotel/'+obj.id+'"><i class="fa fa-list" style="color:#00aff0;font-size:20px"></i></a> </td>  </tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
    
            });
        
        });
    </script>
    
    






    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}







{% endblock %}
