{% extends 'base.html.twig' %}

{% block title %}Facturer{% endblock %}

{% block body %}
    <h1>Facturer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_facture</th>
                <td>{{ facturer.idFacture }}</td>
            </tr>
            <tr>
                <th>DateFacture</th>
                <td>{{ facturer.dateFacture }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ facturer.statut }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ facturer.notes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facturer_index') }}">back to list</a>

    <a href="{{ path('app_facturer_edit', {'id_facture': facturer.id_facture}) }}">edit</a>

    {{ include('facturer/_delete_form.html.twig') }}
{% endblock %}
