{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {# {{ form_widget(form) }} #}
     {{ form_row(form.type,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.matricule,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.marque,{ 'attr': {'class': 'form-control'} }) }}
        <br>
                <div class="mx-auto col-md-2">
        {{ form_rest(form,{ 'attr': {'class': 'btn btn-primary'} })}} {# Ajout de cette ligne pour afficher le reste des champs du formulaire #}
<br>
    <button class="btn btn-primary btn-custom mr-15" style="background-color: #FF7F00; border-color: #FF7F00;">{{ button_label|default('Save') }}</button>
       </div>
    
{{ form_end(form) }}
