{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
   <div class="container">
        <div class="row">
         <h1 class="text-center">Ajouter une Categorie</h1>
            <div class="col-md-4 mx-auto">
     {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        {{ form_row(form.type,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.matricule,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.marque,{ 'attr': {'class': 'form-control'} }) }}
        <br>
                <div class="mx-auto col-md-2">
        {{ form_rest(form,{ 'attr': {'class': 'btn btn-primary'} })}} {# Ajout de cette ligne pour afficher le reste des champs du formulaire #}
      
       </div>
     {{ form_end(form) }}

   
 </div>
 
        </div>
         <div class="col-md-4 offset-md-10 text-right ">
    <a href="{{ path('app_categorie_index') }}" class="btn btn-primary"><i class="far fa-eye"></i>     Show Categories</a>
   </div>
    </div>

{% endblock %}
