{% extends 'base.html.twig' %}

{% block title %}New Promotion{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
            <div class="row">
                <h6 class="mb-4">Ajouter une Nouvelle Offre</h6>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="mb-3">
                    description:
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
                <div class="mb-3">
                    Duree:
                    {{ form_widget(form.dureeO, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.dureeO) }}
                </div>


                <button type="submit" class="btn btn-outline-primary w-100 m-2" formnovalidate>Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}